.sections-nav {
  display: flex;
  justify-content: space-between;
}

.sections-nav > li {
  margin: 5px 5px 5px 5px;
}

#sections-all:hover {
  background-color: $light-gray;
  border-radius: 3px;
  text-decoration: none;
}
